* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  max-width: 99vw;
  overflow-x: hidden;

}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: 'Roboto Mono', monospace;
}

a {
  font-family: 'Roboto Mono', monospace;
  color: cadetblue;
  overflow: hidden;
}

a:visited {
  font-family: 'Roboto Mono', monospace;
  color: cadetblue;
}

h3.myheading>a {
  font-size: 1.2rem;
  color: black;
  line-height: 1rem;

}

.navbar a {
  font-family: 'Roboto Mono', monospace;
  color: cadetblue;
  font-weight: 500;
}

.navbar .active_li {
  text-decoration: underline;
}

.navbar a:visited {
  color: cadetblue;
}



.tech_label {
  font-weight: bold;
  color: cadetblue;
}

main {
  display: flex;
  max-width: 99vw;
  box-sizing: border-box;
}

.main_aside {
  width: 320px;

  box-sizing: border-box;
  z-index: 3;

}

.asside_wrapper {
  width: 320px;
  padding: 70px 30px 30px 30px;

  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  background-color: white;


}

#nav_hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 4;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}



footer {
  bottom: 10px;
  position: absolute;
}

.footer_title {
  font-family: 'Roboto Mono', monospace;
}

.navbar li {
  font-size: 1.5rem;
}

.row.d-flex {
  position: relative;
  max-width: calc(99vw - 320px);
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #888888;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: -3px;
}

/* Container around content */
.timeline_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

/* The circles on the timeline */
.timeline_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #555555;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the timeline_container to the left */
.left {
  left: 0;
}

/* Place the timeline_container to the right */
.right {
  left: 10%;
}

/* Add arrows to the left timeline_container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right timeline_container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for timeline_containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.timeline_content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.hero {
  margin-top: 50px;
}

.contact_container {
  margin: 8vh auto 0 auto;
}

.contact_gird {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contact_element {}

.contact_form_wrapper {
  display: block;
  clear: both;
}

.btn-primary {
  background-color: cadetblue;
  border-color: cadetblue;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 900px) {
  .main_aside {
    width: 220px;
  }

  .row.d-flex {
    padding-left: 5px;
    margin-left: 30px;
  }

  .contact_gird {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .main_aside {
    width: 220px;
    display: none;
  }

  #nav_hamburger {
    display: unset;
  }
}

@media screen and (max-width: 680px) {

  body{
    max-width: 99vw;
    font-size: 10px;
  }
  h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
  }
  
  h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
  }
  
  h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
  }
  
  a {
    font-family: 'Roboto Mono', monospace;
    color: cadetblue;
    overflow: hidden;
  }

  .main_aside {
    height: 100%;
    position: fixed;
    display: none;
    background-color: white;
  z-index: 2;
  }
  .asside_wrapper{
    height: 100vh;
    position: fixed;
    
  }

  .row.d-flex {
    max-width: calc(99vw );
    margin: auto;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width timeline_containers */
  .timeline_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline_container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }



  /* Make all right timeline_containers behave like the left ones */
  .right {
    left: 0%;
  }

  .contact_gird {
    display: grid;
    grid-template-columns: 100%;
  }

  footer {
    bottom: 8vh;

  }

}