.blog_content {
    margin: 8vh 2vw 2vh 2vw;
    /* width: 50vw; */
    flex-grow: 2;
    max-width: 720px;
    font-size: 1.1em;

}

.blog_content p{
    line-height: 2rem;
    margin-bottom: 24px;

}

.blog_content h2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.blog_content h3{
    font-size: 1.1rem;
}

.blog_content p em{
    color: var(--light-text-color);

}

.blog_content pre {
    background-color: var(--code-background-color);
    border: 1px solid #e6e8eb;
    border-radius: 3px;
    padding: 10px 10px;
    overflow-x: scroll;
}




.blog_content img {
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .blog_content {
    margin: 3vh auto;

    }
}

@media screen and (max-width: 680px) {
    .blog_content {}
}