.blog_content {
    margin: 8vh 5px;
    width: 100%;
    max-width: 720px;
    margin: auto;
    font-size: 1.1em;

}

.blog_content pre {
    background-color: #f7f9fa;
    border: 1px solid #e6e8eb;
    border-radius: 3px;
    padding: 10px 10px;
}

.blog_content img {
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .blog_content {
        margin: auto;

    }
}

@media screen and (max-width: 680px) {
    .blog_content {}
}